@model  TechnicalInterview.Exercice3.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Welcome to an amazing shopping experience
                </h1>
                <h2 class="subtitle">
                    Look at our promotions !
                </h2>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">
                Our products
            </h1>

            <p class="subtitle">
                Sales : Free shipping for basket above 5€ !
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product name</th>
                        <th>Product description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <th>#@product.Id</th>
                            <td>@product.Name</td>
                            <td>@product.Description</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </section>
